@font-face{
    font-family: abha;
    src: url(font/AbhayaLibre-Regular.ttf);
}
@font-face{
    font-family: bigfont;
    src: url(font/SVN-Gilroy-Bold.otf);
}
@font-face{
    font-family: gilroy;
    src: url(font/SVN-Gilroy-Light.otf);
}
*{margin: 0; padding: 0;}

a.menu-item:hover {
    text-decoration: none;
    transition: 0.5s;
}
.menu {
    margin-left: 134px;
}
.topside {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 112px;
    padding-right: 112px;
    background-color: white;
}
.img-logo {
    height: 50px;
    width: 50px;
    transition: 0.75s;
}
a.logoitem:hover .img-logo {
    transform: scale(1.2);
    transition: 0.75s;
}
.main {
    margin-top: 100px
}
/* chung */
ul.boloc {
    width: 380px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: gilroy;
    font-size: 16px;
    font-weight: bolder;
    list-style: none;
}
ul.items {
    width: 1125px;
    margin: auto;
    margin-top: 24px;
}
li.bl {
    list-style: none;
    transition: 0.4s;
    cursor: pointer;
}
li.bl:hover {
    color: #FF8177;
}
li.chialayer {
    position: relative;
    width: 345px;
    height: 345px;
    overflow: hidden;
    margin: 15px;
    float: left;
    border-radius: 8px;
    transition: unset;  
    /* anh huong den animation cua js */
}
img.pik {
    height: 100%;
    width: 100%;
    transition: 0.4s;
}
i.fas.fa-search {
    font-size: 30px;
    opacity: 0;
    transition: 0.4s;
}
p.prj {
    font-family: gilroy;
    font-weight: bolder;
    font-size: 20px;
    opacity: 0;
    color: white;
    transition: 0.4s;
    transform: translateY(50px);
}
li.chialayer:hover .pik {
    transform: scale(1.1);
}
li.chialayer:hover .fas {
    opacity: 1;
}
li.chialayer:hover .prj {
    opacity: 1;
    transform: translateY(20px);
}
li.chialayer:hover .btn {
    opacity: 1;
    transform: translateY(20px);
}
img.close {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.tit {
    font-family: bigfont;
    font-size: 40px;
    color: rgb(36, 36, 36);
}
.loading-animation {
    margin-bottom: 40px;
}
.loading-bar{
    width: 138px;
    height: 5px;
    margin-left: 18px;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.loading-bar::before{
    content:"";
    width: 80px;
    height: 3px;
    background: #D52735;
    position:absolute;
    left:-34px;
    animation: bluebar 2s infinite ease;
}
@keyframes bluebar{
    50%{
      left: 195px;}
}
.active {
    color: white;
    background-color: #FF8177;
    border-radius: 20px;
    padding: 0 15px;
}
.active:hover {
    color: white !important;
}

.bgr {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1f1f1f8f;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.hien {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.btn {
    opacity: 0;
    background-color: #FF8177 !important;
    border: none !important;
    height: 54px;
    transition: 0.4s !important;
    margin-top: 120px;
    margin-bottom: 10px;
}
.hien:hover .btn {
    opacity: 1;
    transition: 0.4s;
}
li.chialayer:hover .bgr {
    opacity: 1;
}
.btn:hover {
    background-color: #ff5f53 !important;
}
img.mc {
    width: 600px;
}
img.mc1 {
    margin-bottom: 1px;
}
img.mcc {
    width: 737px;
    margin: auto;
}
p.tde {
    font-family: bigfont;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}